.__CLASS__
{
  color: #8a8a8a;
  font-size: 20px;
  line-height: 28px;
  overflow: auto;
  
  h1, h2
  {
    color: #e22f5b;
  }
  
  h1
  {
    text-decoration: underline !important;
  }
  
  h2
  {
    margin-top: 30px;
  }
  
  p
  {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  p.how
  {
    margin-top: 30px;
  }
  
  li
  {
    padding: 5px;
  }
  
  strong
  {
    color: #777;
  }
  
  ul, ol
  {
    margin-left: 50px;
  }

  .sheet
  {
  	background: #fff;
    padding: 50px 150px !important;
    height: auto !important;
    min-height: 100%;
  }
}


